<%= form_for @grade, :html => {:class => "w3-container w3-card-4 w3-margin"} do |f| %>
  <%= render 'shared/errors', object: @grade %>
  <div class="w3-row w3-section">
    <div class="w3-col" style="width: 100px"><%= f.label :lecture %></div>
    <div class="w3-rest"><%= @grade.lecture.name %></div>
  </div>
  <div class="w3-row w3-section">
    <div class="w3-col" style="width: 100px"><%= f.label :grade %></div>
    <div class="w3-rest"><%= @grade.grade %></div>
  </div>
  <div class="w3-row w3-section">
    <div class="w3-col" style="width: 100px"><%= f.label :comment %></div>
    <div class="w3-rest"><%= f.text_area :comment, class: "w3-input w3-border", style: "min-height: 150px; padding-left: 0" %></div>
  </div>
  <div class="w3-center">
  <%= f.submit class: "w3-button w3-light-blue w3-margin" %>
  </div>
<% end %>
