<h1>Grades</h1>

<%= link_to 'New Grade', new_grade_path %>

<table>
  <tr>
    <th>Lecturer</th>
    <th>Lecture</th>
    <th>Student</th>
    <th>Grade</th>
    <th>Comment</th>
  </tr>
 
  <% @grades.each do |grade| %>
    <tr>
      <td><%= grade.lecture.lecturer.login %></td>
      <td><%= grade.lecture.name %></td>
      <td><%= grade.student.login %></td>
      <td><%= grade.grade %></td>
      <td>
      <!-- FIX: remove html_safe -->
      <% if grade.comment %>
        <%= grade.comment.html_safe %>
      <% end %>
      </td>
      <td><%= link_to 'Edit', edit_grade_path(grade) %></td>
    </tr>
  <% end %>
</table>
