<table class="w3-table w3-striped w3-bordered">
  <tr>
    <th>Lecturer</th>
    <th>Lecture</th>
    <th>Student</th>
    <th>Grade</th>
    <th>Comment</th>
    <th>Action</th>
  </tr>
 
  <% @grades.each do |grade| %>
    <tr>
      <td><%= grade.lecture.lecturer.login %></td>
      <td><%= grade.lecture.name %></td>
      <td><%= grade.student.login %></td>
      <td><%= grade.grade %></td>
      <td>
      <!-- FIX: remove html_safe -->
      <% if grade.comment %>
        <%= grade.comment.html_safe %>
      <% end %>
      </td>
      <% if grade.lecture.lecturer_id == current_user.id %>
        <td><%= link_to 'Edit', edit_grade_path(grade), :class => "w3-button w3-light-blue" %></td>
      <% else %>
        <td><a class="w3-button w3-disabled">Edit</a></td>
      <% end %>
    </tr>
  <% end %>
</table>

<div class="w3-center w3-margin">
  <%= link_to 'New Grade', new_grade_path, :class => "w3-button w3-light-blue" %>
</div>
