<table class="w3-table w3-striped w3-bordered">
  <tr>
    <th>Lecturer</th>
    <th>Lecture</th>
    <th>Student</th>
    <th>Grade</th>
    <th>Submission</th>
    <th>Comment</th>
    <th>Action</th>
  </tr>
 
  <% @grades.each do |grade| %>
    <tr>
      <td><%= grade.lecture.lecturer.login %></td>
      <td><%= grade.lecture.name %></td>
      <td><%= grade.student.login %></td>
      <td><%= grade.grade %></td>
      <td>
      <% if grade.submission.attached? %>
        <%= link_to grade.submission.filename.to_s, rails_blob_url(grade.submission, disposition: "attachment") %>
      <% end %>
      </td>
      <td>
      <% if grade.comment %>
        <%= grade.comment.html_safe %>
      <% end %>
      </td>
        <td><%= link_to 'Edit', edit_grade_path(grade), :class => "w3-button w3-light-blue" %></td>
    </tr>
  <% end %>
</table>

<div class="w3-center w3-margin">
  <%= link_to 'New Grade', new_grade_path, :class => "w3-button w3-light-blue" %>
</div>
