<h1>New Lecture</h1>

<%= form_for @lecture do |f| %>
  <%= render 'shared/errors', object: @lecture %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.submit 'Create' %>
<% end %>
