<%= form_for @user, url: {action: "reset_password"}, :html => {:class => "w3-container w3-card-4 w3-margin"}  do |f| %>
  <%= render 'shared/errors', object: @user %>

  <%= f.hidden_field :login, value: @user.login %>

  <div class="w3-row w3-section">
    <div class="w3-col" style="width: 200px"><%= f.label :login %></div>
    <div class="w3-rest"><%= @user.login %></div>
  </div>

  <div class="w3-row w3-section">
    <div class="w3-col" style="width: 200px"><%= f.label :secret_question %></div>
    <div class="w3-rest"><%= @user.secret_question %></div>
  </div>

  <div class="w3-row w3-section">
    <div class="w3-col" style="width: 200px"><%= f.label :secret_answer %></div>
    <div class="w3-rest"><%= f.password_field :secret_answer %></div>
  </div>

  <div class="w3-row w3-section">
    <div class="w3-col" style="width: 200px"><%= f.label :password %></div>
    <div class="w3-rest"><%= f.password_field :password %></div>
  </div>
  <div class="w3-row w3-section">
    <div class="w3-col" style="width: 200px"><%= f.label :password_confirmation %></div>
    <div class="w3-rest"><%= f.password_field :password_confirmation %></div>
  </div>

  <div class="w3-center">
    <%= f.submit 'Change Password', class: "w3-button w3-light-blue w3-margin" %>
  </div>
<% end %>
