<%= form_tag sign_in_path, :class => "w3-container w3-card-4 w3-margin-top", :style => "max-width: 320px; margin: auto" do %>
  <p>
    <%= text_field_tag :login, nil, :class => "w3-input" %>
    <%= label_tag :login, "Username" %>
  </p>
  <p>
    <%= password_field_tag :password, nil, :class => "w3-input" %>
    <%= label_tag :password, "Password" %>
  </p>
  <p><%= submit_tag "Login", :class => "w3-button w3-amber" %></p>
  <p><%= link_to "Reset Password", reset_password_path %></p>
<% end %>
